In [2]:
import pandas as pd
import numpy as np

In [3]:
appDF = pd.read_csv('Data/googleplaystore.csv', delimiter=',', header=0)
appDF.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [4]:
appDF.shape

(10841, 13)

In [5]:
#Removing 'App', 'Price', 'Genres', 'Last_Updated', 'Current_Ver' & 'Android_Ver' cols
appDF2 = appDF.drop(['App', 'Price', 'Genres', 'Last_Updated', 'Current_Ver' ,'Android_Ver'], axis=1)
appDF2.head(10)

         Category  Rating Reviews  Size     Installs  Type Content_Rating
0  ART_AND_DESIGN     4.1     159   19M      10,000+  Free       Everyone
1  ART_AND_DESIGN     3.9     967   14M     500,000+  Free       Everyone
2  ART_AND_DESIGN     4.7   87510  8.7M   5,000,000+  Free       Everyone
3  ART_AND_DESIGN     4.5  215644   25M  50,000,000+  Free           Teen
4  ART_AND_DESIGN     4.3     967  2.8M     100,000+  Free       Everyone
5  ART_AND_DESIGN     4.4     167  5.6M      50,000+  Free       Everyone
6  ART_AND_DESIGN     3.8     178   19M      50,000+  Free       Everyone
7  ART_AND_DESIGN     4.1   36815   29M   1,000,000+  Free       Everyone
8  ART_AND_DESIGN     4.4   13791   33M   1,000,000+  Free       Everyone
9  ART_AND_DESIGN     4.7     121  3.1M      10,000+  Free       Everyone

In [6]:
appDF2.shape

(10841, 7)

In [7]:
#Dropping NaN values
appDF3 = appDF2.dropna(how='any')

In [8]:
appDF3.shape

(9366, 7)

In [9]:
categories = appDF3.Category.unique()
categories

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [10]:
appDF3.groupby('Category').size()

Category
ART_AND_DESIGN           62
AUTO_AND_VEHICLES        73
BEAUTY                   42
BOOKS_AND_REFERENCE     178
BUSINESS                303
COMICS                   58
COMMUNICATION           328
DATING                  195
EDUCATION               155
ENTERTAINMENT           149
EVENTS                   45
FAMILY                 1747
FINANCE                 323
FOOD_AND_DRINK          109
GAME                   1097
HEALTH_AND_FITNESS      297
HOUSE_AND_HOME           76
LIBRARIES_AND_DEMO       65
LIFESTYLE               314
MAPS_AND_NAVIGATION     124
MEDICAL                 350
NEWS_AND_MAGAZINES      233
PARENTING                50
PERSONALIZATION         314
PHOTOGRAPHY             317
PRODUCTIVITY            351
SHOPPING                238
SOCIAL                  259
SPORTS                  319
TOOLS                   734
TRAVEL_AND_LOCAL        226
VIDEO_PLAYERS           160
WEATHER                  75
dtype: int64

In [11]:
appDF3.head(5)

         Category  Rating Reviews  Size     Installs  Type Content_Rating
0  ART_AND_DESIGN     4.1     159   19M      10,000+  Free       Everyone
1  ART_AND_DESIGN     3.9     967   14M     500,000+  Free       Everyone
2  ART_AND_DESIGN     4.7   87510  8.7M   5,000,000+  Free       Everyone
3  ART_AND_DESIGN     4.5  215644   25M  50,000,000+  Free           Teen
4  ART_AND_DESIGN     4.3     967  2.8M     100,000+  Free       Everyone

In [12]:
appDF3.dtypes

Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Content_Rating     object
dtype: object

In [13]:
appDF3.Size.unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '23M', '6.0M', '6.1M', '4.6M', '9.2M', '5.2M',
       '11M', '24M', 'Varies with device', '9.4M', '15M', '10M', '1.2M',
       '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k', '3.6M',
       '5.7M', '8.6M', '2.4M', '27M', '2.5M', '7.0M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '22M', '6.4M', '3.2M', '8.2M', '4.9M', '9.5M', '5.0M',
       '5.9M', '13M', '73M', '6.8M', '3.5M', '4.0M', '2.3M', '2.1M',
       '42M', '9.1M', '55M', '23k', '7.3M', '6.5M', '1.5M', '7.5M', '51M',
       '41M', '48M', '8.5M', '46M', '8.3M', '4.3M', '4.7M', '3.3M', '40M',
       '7.8M', '8.8M', '6.6M', '5.1M', '61M', '66M', '79k', '8.4M',
       '3.7M', '118k', '44M', '695k', '1.6M', '6.2M', '53M', '1.4M',
       '3.0M', '7.2M', '5.8M', '3.8M', '9.6M', '45M', '63M', '49M', '77M',
       '4.4M', '70M', '9.3M', '8.1M', '36M', '6.9M', '7.4M', '84M', '97M',
       '2.0M', '1.9M', '1.8M', '5.3M', '47M', '556k', '526k', '76M',
       '7.6M', '59M', '9.7M', '78M', '72M', '43M', '7.7M', '6.3M', '334k',
       '93M', '65M', '79M', '100M', '58M', '50M', '68M', '64M', '34M',
       '67M', '60M', '94M', '9.9M', '232k', '99M', '624k', '95M', '8.5k',
       '41k', '292k', '11k', '80M', '1.7M', '10.0M', '74M', '62M', '69M',
       '75M', '98M', '85M', '82M', '96M', '87M', '71M', '86M', '91M',
       '81M', '92M', '83M', '88M', '704k', '862k', '899k', '378k', '4.8M',
       '266k', '375k', '1.3M', '975k', '980k', '4.1M', '89M', '696k',
       '544k', '525k', '920k', '779k', '853k', '720k', '713k', '772k',
       '318k', '58k', '241k', '196k', '857k', '51k', '953k', '865k',
       '251k', '930k', '540k', '313k', '746k', '203k', '26k', '314k',
       '239k', '371k', '220k', '730k', '756k', '91k', '293k', '17k',
       '74k', '14k', '317k', '78k', '924k', '818k', '81k', '939k', '169k',
       '45k', '965k', '90M', '545k', '61k', '283k', '655k', '714k', '93k',
       '872k', '121k', '322k', '976k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '306k', '175k', '350k', '383k', '454k',
       '1.0M', '70k', '812k', '442k', '842k', '417k', '412k', '459k',
       '478k', '335k', '782k', '721k', '430k', '429k', '192k', '460k',
       '728k', '496k', '816k', '414k', '506k', '887k', '613k', '778k',
       '683k', '592k', '186k', '840k', '647k', '373k', '437k', '598k',
       '716k', '585k', '982k', '219k', '55k', '323k', '691k', '511k',
       '951k', '963k', '25k', '554k', '351k', '27k', '82k', '208k',
       '551k', '29k', '103k', '116k', '153k', '209k', '499k', '173k',
       '597k', '809k', '122k', '411k', '400k', '801k', '787k', '50k',
       '643k', '986k', '516k', '837k', '780k', '20k', '498k', '600k',
       '656k', '221k', '228k', '176k', '34k', '259k', '164k', '458k',
       '629k', '28k', '288k', '775k', '785k', '636k', '916k', '994k',
       '309k', '485k', '914k', '903k', '608k', '500k', '54k', '562k',
       '847k', '948k', '811k', '270k', '48k', '523k', '784k', '280k',
       '24k', '892k', '154k', '18k', '33k', '860k', '364k', '387k',
       '626k', '161k', '879k', '39k', '170k', '141k', '160k', '144k',
       '143k', '190k', '376k', '193k', '473k', '246k', '73k', '253k',
       '957k', '420k', '72k', '404k', '470k', '226k', '240k', '89k',
       '234k', '257k', '861k', '467k', '676k', '552k', '582k', '619k'],
      dtype=object)

In [14]:
pd.options.mode.chained_assignment = None

In [15]:
#Removing k and M from Size column
def cleanSize(size):
    letter = size[-1:]
    if(letter == 'k'):
        return (float(size[:-1]) * 1000)
    elif(letter == 'M'):
        return (float(size[:-1]) * 1000000)
    else:
        return "VWD"
        
appDF4 = appDF3.copy()
appDF4['Size'] = appDF4['Size'].map(cleanSize)

In [16]:
appDF4.head(10)

         Category  Rating Reviews     Size     Installs  Type Content_Rating
0  ART_AND_DESIGN     4.1     159  1.9e+07      10,000+  Free       Everyone
1  ART_AND_DESIGN     3.9     967  1.4e+07     500,000+  Free       Everyone
2  ART_AND_DESIGN     4.7   87510  8.7e+06   5,000,000+  Free       Everyone
3  ART_AND_DESIGN     4.5  215644  2.5e+07  50,000,000+  Free           Teen
4  ART_AND_DESIGN     4.3     967  2.8e+06     100,000+  Free       Everyone
5  ART_AND_DESIGN     4.4     167  5.6e+06      50,000+  Free       Everyone
6  ART_AND_DESIGN     3.8     178  1.9e+07      50,000+  Free       Everyone
7  ART_AND_DESIGN     4.1   36815  2.9e+07   1,000,000+  Free       Everyone
8  ART_AND_DESIGN     4.4   13791  3.3e+07   1,000,000+  Free       Everyone
9  ART_AND_DESIGN     4.7     121  3.1e+06      10,000+  Free       Everyone

In [17]:
appDF4.Size.unique()

array([19000000.0, 14000000.0, 8700000.0, 25000000.0, 2800000.0,
       5600000.0, 29000000.0, 33000000.0, 3100000.0, 28000000.0,
       12000000.0, 20000000.0, 21000000.0, 37000000.0, 2700000.0,
       5500000.0, 17000000.0, 39000000.0, 31000000.0, 4200000.0,
       23000000.0, 6000000.0, 6100000.0, 4600000.0, 9200000.0, 5200000.0,
       11000000.0, 24000000.0, 'VWD', 9400000.0, 15000000.0, 10000000.0,
       1200000.0, 26000000.0, 8000000.0, 7900000.0, 56000000.0,
       57000000.0, 35000000.0, 54000000.0, 201000.0, 3600000.0, 5700000.0,
       8600000.0, 2400000.0, 27000000.0, 2500000.0, 7000000.0, 16000000.0,
       3400000.0, 8900000.0, 3900000.0, 2900000.0, 38000000.0, 32000000.0,
       5400000.0, 18000000.0, 1100000.0, 2200000.0, 4500000.0, 9800000.0,
       52000000.0, 9000000.0, 6700000.0, 30000000.0, 2600000.0, 7100000.0,
       22000000.0, 6400000.0, 3200000.0, 8199999.999999999, 4900000.0,
       9500000.0, 5000000.0, 5900000.0, 13000000.0, 73000000.0, 6800000.0,
       3500000.0, 4000000.0, 2300000.0, 2100000.0, 42000000.0, 9100000.0,
       55000000.0, 23000.0, 7300000.0, 6500000.0, 1500000.0, 7500000.0,
       51000000.0, 41000000.0, 48000000.0, 8500000.0, 46000000.0,
       8300000.000000001, 4300000.0, 4700000.0, 3300000.0, 40000000.0,
       7800000.0, 8800000.0, 6600000.0, 5100000.0, 61000000.0, 66000000.0,
       79000.0, 8400000.0, 3700000.0, 118000.0, 44000000.0, 695000.0,
       1600000.0, 6200000.0, 53000000.0, 1400000.0, 3000000.0, 7200000.0,
       5800000.0, 3800000.0, 9600000.0, 45000000.0, 63000000.0,
       49000000.0, 77000000.0, 4400000.0, 70000000.0, 9300000.0,
       8100000.0, 36000000.0, 6900000.0, 7400000.0, 84000000.0,
       97000000.0, 2000000.0, 1900000.0, 1800000.0, 5300000.0, 47000000.0,
       556000.0, 526000.0, 76000000.0, 7600000.0, 59000000.0, 9700000.0,
       78000000.0, 72000000.0, 43000000.0, 7700000.0, 6300000.0, 334000.0,
       93000000.0, 65000000.0, 79000000.0, 100000000.0, 58000000.0,
       50000000.0, 68000000.0, 64000000.0, 34000000.0, 67000000.0,
       60000000.0, 94000000.0, 9900000.0, 232000.0, 99000000.0, 624000.0,
       95000000.0, 8500.0, 41000.0, 292000.0, 11000.0, 80000000.0,
       1700000.0, 74000000.0, 62000000.0, 69000000.0, 75000000.0,
       98000000.0, 85000000.0, 82000000.0, 96000000.0, 87000000.0,
       71000000.0, 86000000.0, 91000000.0, 81000000.0, 92000000.0,
       83000000.0, 88000000.0, 704000.0, 862000.0, 899000.0, 378000.0,
       4800000.0, 266000.0, 375000.0, 1300000.0, 975000.0, 980000.0,
       4099999.9999999995, 89000000.0, 696000.0, 544000.0, 525000.0,
       920000.0, 779000.0, 853000.0, 720000.0, 713000.0, 772000.0,
       318000.0, 58000.0, 241000.0, 196000.0, 857000.0, 51000.0, 953000.0,
       865000.0, 251000.0, 930000.0, 540000.0, 313000.0, 746000.0,
       203000.0, 26000.0, 314000.0, 239000.0, 371000.0, 220000.0,
       730000.0, 756000.0, 91000.0, 293000.0, 17000.0, 74000.0, 14000.0,
       317000.0, 78000.0, 924000.0, 818000.0, 81000.0, 939000.0, 169000.0,
       45000.0, 965000.0, 90000000.0, 545000.0, 61000.0, 283000.0,
       655000.0, 714000.0, 93000.0, 872000.0, 121000.0, 322000.0,
       976000.0, 206000.0, 954000.0, 444000.0, 717000.0, 210000.0,
       609000.0, 308000.0, 306000.0, 175000.0, 350000.0, 383000.0,
       454000.0, 1000000.0, 70000.0, 812000.0, 442000.0, 842000.0,
       417000.0, 412000.0, 459000.0, 478000.0, 335000.0, 782000.0,
       721000.0, 430000.0, 429000.0, 192000.0, 460000.0, 728000.0,
       496000.0, 816000.0, 414000.0, 506000.0, 887000.0, 613000.0,
       778000.0, 683000.0, 592000.0, 186000.0, 840000.0, 647000.0,
       373000.0, 437000.0, 598000.0, 716000.0, 585000.0, 982000.0,
       219000.0, 55000.0, 323000.0, 691000.0, 511000.0, 951000.0,
       963000.0, 25000.0, 554000.0, 351000.0, 27000.0, 82000.0, 208000.0,
       551000.0, 29000.0, 103000.0, 116000.0, 153000.0, 209000.0,
       499000.0, 173000.0, 597000.0, 809000.0, 122000.0, 411000.0,
       400000.0, 801000.0, 787000.0, 50000.0, 643000.0, 986000.0,
       516000.0, 837000.0, 780000.0, 20000.0, 498000.0, 600000.0,
       656000.0, 221000.0, 228000.0, 176000.0, 34000.0, 259000.0,
       164000.0, 458000.0, 629000.0, 28000.0, 288000.0, 775000.0,
       785000.0, 636000.0, 916000.0, 994000.0, 309000.0, 485000.0,
       914000.0, 903000.0, 608000.0, 500000.0, 54000.0, 562000.0,
       847000.0, 948000.0, 811000.0, 270000.0, 48000.0, 523000.0,
       784000.0, 280000.0, 24000.0, 892000.0, 154000.0, 18000.0, 33000.0,
       860000.0, 364000.0, 387000.0, 626000.0, 161000.0, 879000.0,
       39000.0, 170000.0, 141000.0, 160000.0, 144000.0, 143000.0,
       190000.0, 376000.0, 193000.0, 473000.0, 246000.0, 73000.0,
       253000.0, 957000.0, 420000.0, 72000.0, 404000.0, 470000.0,
       226000.0, 240000.0, 89000.0, 234000.0, 257000.0, 861000.0,
       467000.0, 676000.0, 552000.0, 582000.0, 619000.0], dtype=object)

In [18]:
appDF4.Size.describe()

count     9366
unique     413
top        VWD
freq      1637
Name: Size, dtype: object

In [19]:
appDF4.dtypes

Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Content_Rating     object
dtype: object

In [20]:
appDF4.Reviews = appDF4.Reviews.astype(int)
appDF4.Category = appDF4.Category.astype('category')
appDF4.dtypes

Category          category
Rating             float64
Reviews              int32
Size                object
Installs            object
Type                object
Content_Rating      object
dtype: object

In [21]:
#Cleaning Installs column
appDF5 = appDF4.copy()
appDF5.Installs = appDF5.Installs.map(lambda x: x.replace(',', '').replace('+', '')).astype(int)

#Encoding Installs, technique - encoding labels
installsList = sorted(appDF5.Installs.unique())
installsDict = {'Installs': {}}
for i in range(len(installsList)):
    installsDict['Installs'][installsList[i]] = i
appDF5.Installs = appDF5.Installs.map(lambda x: installsDict['Installs'].get(x, 100))
appDF5.head(20)

          Category  Rating  Reviews     Size  Installs  Type Content_Rating
0   ART_AND_DESIGN     4.1      159  1.9e+07         8  Free       Everyone
1   ART_AND_DESIGN     3.9      967  1.4e+07        11  Free       Everyone
2   ART_AND_DESIGN     4.7    87510  8.7e+06        13  Free       Everyone
3   ART_AND_DESIGN     4.5   215644  2.5e+07        15  Free           Teen
4   ART_AND_DESIGN     4.3      967  2.8e+06        10  Free       Everyone
5   ART_AND_DESIGN     4.4      167  5.6e+06         9  Free       Everyone
6   ART_AND_DESIGN     3.8      178  1.9e+07         9  Free       Everyone
7   ART_AND_DESIGN     4.1    36815  2.9e+07        12  Free       Everyone
8   ART_AND_DESIGN     4.4    13791  3.3e+07        12  Free       Everyone
9   ART_AND_DESIGN     4.7      121  3.1e+06         8  Free       Everyone
10  ART_AND_DESIGN     4.4    13880  2.8e+07        12  Free       Everyone
11  ART_AND_DESIGN     4.4     8788  1.2e+07        12  Free       Everyone
12  ART_AND_DESIGN     4.2    44829    2e+07        14  Free           Teen
13  ART_AND_DESIGN     4.6     4326  2.1e+07        10  Free       Everyone
14  ART_AND_DESIGN     4.4     1518  3.7e+07        10  Free       Everyone
15  ART_AND_DESIGN     3.2       55  2.7e+06         7  Free       Everyone
16  ART_AND_DESIGN     4.7     3632  5.5e+06        11  Free       Everyone
17  ART_AND_DESIGN     4.5       27  1.7e+07         8  Free       Everyone
18  ART_AND_DESIGN     4.3   194216  3.9e+07        13  Free       Everyone
19  ART_AND_DESIGN     4.6   224399  3.1e+07        14  Free       Everyone

In [22]:
installsDict

{'Installs': {1: 0,
  5: 1,
  10: 2,
  50: 3,
  100: 4,
  500: 5,
  1000: 6,
  5000: 7,
  10000: 8,
  50000: 9,
  100000: 10,
  500000: 11,
  1000000: 12,
  5000000: 13,
  10000000: 14,
  50000000: 15,
  100000000: 16,
  500000000: 17,
  1000000000: 18}}

In [23]:
appDF5.Installs.value_counts()

12    1577
14    1252
10    1150
8     1010
13     752
6      713
11     538
9      467
7      432
16     409
4      309
15     289
5      201
17      72
2       69
18      58
3       56
1        9
0        3
Name: Installs, dtype: int64

In [24]:
#One-hot encoding of Type column
appDF6 = appDF5.copy()
appDF6.Type = appDF6.Type.astype('category')
appDF6 = pd.get_dummies(appDF6, columns=['Type'], prefix=['Type'])
appDF6.head()

,Category,Rating,Reviews,Size,Installs,Content_Rating,Type_Free,Type_Paid
0,ART_AND_DESIGN,4.1,159,1.9e+07,8,Everyone,1,0
1,ART_AND_DESIGN,3.9,967,1.4e+07,11,Everyone,1,0
2,ART_AND_DESIGN,4.7,87510,8.7e+06,13,Everyone,1,0
3,ART_AND_DESIGN,4.5,215644,2.5e+07,15,Teen,1,0
4,ART_AND_DESIGN,4.3,967,2.8e+06,10,Everyone,1,0

In [25]:
appDF6.dtypes

Category          category
Rating             float64
Reviews              int32
Size                object
Installs             int64
Content_Rating      object
Type_Free            uint8
Type_Paid            uint8
dtype: object

In [26]:
appDF6.Content_Rating.value_counts()

Everyone           7420
Teen               1084
Mature 17+          461
Everyone 10+        397
Adults only 18+       3
Unrated               1
Name: Content_Rating, dtype: int64

In [27]:
#Removing 'Unrated' row
appDF7 = appDF6.copy()
appDF7 = appDF7.drop(index = appDF7[appDF7.Content_Rating == 'Unrated'].index)

#Combining 'Mature 17+' and 'Adults only 18+' to 'Mature 17+'
appDF7.Content_Rating = appDF7.Content_Rating.replace('Adults only 18+', 'Mature 17+')
appDF7.Content_Rating.value_counts()

#One-Hot encoding of Content_Rating column
appDF7.Content_Rating = appDF7.Content_Rating.astype('category')
appDF7 = pd.get_dummies(appDF7, columns=['Content_Rating'], prefix=['ContRat'])
appDF7.head()

,Category,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen
0,ART_AND_DESIGN,4.1,159,1.9e+07,8,1,0,1,0,0,0
1,ART_AND_DESIGN,3.9,967,1.4e+07,11,1,0,1,0,0,0
2,ART_AND_DESIGN,4.7,87510,8.7e+06,13,1,0,1,0,0,0
3,ART_AND_DESIGN,4.5,215644,2.5e+07,15,1,0,0,0,0,1
4,ART_AND_DESIGN,4.3,967,2.8e+06,10,1,0,1,0,0,0

In [28]:
appDF7.dtypes

Category                category
Rating                   float64
Reviews                    int32
Size                      object
Installs                   int64
Type_Free                  uint8
Type_Paid                  uint8
ContRat_Everyone           uint8
ContRat_Everyone 10+       uint8
ContRat_Mature 17+         uint8
ContRat_Teen               uint8
dtype: object

In [29]:
#Replacing 'VWD' with mode size, ie., 14000000.0
appDF8 = appDF7.copy()
appDF8.Size = appDF8.Size.replace('VWD', 14000000.0)
appDF8.Size = appDF8.Size.astype(int)
appDF8.dtypes

Category                category
Rating                   float64
Reviews                    int32
Size                       int32
Installs                   int64
Type_Free                  uint8
Type_Paid                  uint8
ContRat_Everyone           uint8
ContRat_Everyone 10+       uint8
ContRat_Mature 17+         uint8
ContRat_Teen               uint8
dtype: object

In [30]:
appDF8.head()

,Category,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen
0,ART_AND_DESIGN,4.1,159,19000000,8,1,0,1,0,0,0
1,ART_AND_DESIGN,3.9,967,14000000,11,1,0,1,0,0,0
2,ART_AND_DESIGN,4.7,87510,8700000,13,1,0,1,0,0,0
3,ART_AND_DESIGN,4.5,215644,25000000,15,1,0,0,0,0,1
4,ART_AND_DESIGN,4.3,967,2800000,10,1,0,1,0,0,0

In [31]:
appDF8.Category.value_counts()

FAMILY                 1747
GAME                   1097
TOOLS                   733
PRODUCTIVITY            351
MEDICAL                 350
COMMUNICATION           328
FINANCE                 323
SPORTS                  319
PHOTOGRAPHY             317
PERSONALIZATION         314
LIFESTYLE               314
BUSINESS                303
HEALTH_AND_FITNESS      297
SOCIAL                  259
SHOPPING                238
NEWS_AND_MAGAZINES      233
TRAVEL_AND_LOCAL        226
DATING                  195
BOOKS_AND_REFERENCE     178
VIDEO_PLAYERS           160
EDUCATION               155
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     124
FOOD_AND_DRINK          109
HOUSE_AND_HOME           76
WEATHER                  75
AUTO_AND_VEHICLES        73
LIBRARIES_AND_DEMO       65
ART_AND_DESIGN           62
COMICS                   58
PARENTING                50
EVENTS                   45
BEAUTY                   42
Name: Category, dtype: int64

In [32]:
#Removing category column
appDF9 = appDF8.iloc[:, 1:]
appDF9.head()

,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen
0,4.1,159,19000000,8,1,0,1,0,0,0
1,3.9,967,14000000,11,1,0,1,0,0,0
2,4.7,87510,8700000,13,1,0,1,0,0,0
3,4.5,215644,25000000,15,1,0,0,0,0,1
4,4.3,967,2800000,10,1,0,1,0,0,0

In [33]:
appDF9.Rating.unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4. , 4.8, 4.9,
       3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5. , 2.6, 3. , 1.9, 2.5, 2.8, 2.7,
       1. , 2.9, 2.3, 2.2, 1.7, 2. , 1.8, 2.4, 1.6, 2.1, 1.4, 1.5, 1.2])

In [34]:
installsDict

{'Installs': {1: 0,
  5: 1,
  10: 2,
  50: 3,
  100: 4,
  500: 5,
  1000: 6,
  5000: 7,
  10000: 8,
  50000: 9,
  100000: 10,
  500000: 11,
  1000000: 12,
  5000000: 13,
  10000000: 14,
  50000000: 15,
  100000000: 16,
  500000000: 17,
  1000000000: 18}}

In [35]:
def labelise(df):
    def createLabel(row):
        if(row.Rating >= 4.0 and row.Installs >= 12): row['Label'] = int(1)
        else: row['Label'] = int(0)
        return row
        
    return df.apply(lambda x: createLabel(x), axis=1)

In [36]:
#Every column converted to float
labelDF1 = labelise(appDF9)
labelDF1.Label = labelDF1.Label.astype(int)
labelDF1.head(20)

,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen,Label
0,4.1,159.0,19000000.0,8.0,1.0,0.0,1.0,0.0,0.0,0.0,0
1,3.9,967.0,14000000.0,11.0,1.0,0.0,1.0,0.0,0.0,0.0,0
2,4.7,87510.0,8700000.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0,1
3,4.5,215644.0,25000000.0,15.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,4.3,967.0,2800000.0,10.0,1.0,0.0,1.0,0.0,0.0,0.0,0
5,4.4,167.0,5600000.0,9.0,1.0,0.0,1.0,0.0,0.0,0.0,0
6,3.8,178.0,19000000.0,9.0,1.0,0.0,1.0,0.0,0.0,0.0,0
7,4.1,36815.0,29000000.0,12.0,1.0,0.0,1.0,0.0,0.0,0.0,1
8,4.4,13791.0,33000000.0,12.0,1.0,0.0,1.0,0.0,0.0,0.0,1
9,4.7,121.0,3100000.0,8.0,1.0,0.0,1.0,0.0,0.0,0.0,0
10,4.4,13880.0,28000000.0,12.0,1.0,0.0,1.0,0.0,0.0,0.0,1
11,4.4,8788.0,12000000.0,12.0,1.0,0.0,1.0,0.0,0.0,0.0,1
12,4.2,44829.0,20000000.0,14.0,1.0,0.0,0.0,0.0,0.0,1.0,1
13,4.6,4326.0,21000000.0,10.0,1.0,0.0,1.0,0.0,0.0,0.0,0
14,4.4,1518.0,37000000.0,10.0,1.0,0.0,1.0,0.0,0.0,0.0,0
15,3.2,55.0,2700000.0,7.0,1.0,0.0,1.0,0.0,0.0,0.0,0
16,4.7,3632.0,5500000.0,11.0,1.0,0.0,1.0,0.0,0.0,0.0,0
17,4.5,27.0,17000000.0,8.0,1.0,0.0,1.0,0.0,0.0,0.0,0
18,4.3,194216.0,39000000.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0,1
19,4.6,224399.0,31000000.0,14.0,1.0,0.0,1.0,0.0,0.0,0.0,1

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [38]:
def createXy(df):
    return df.iloc[:, :-1], df.iloc[:, -1:]

In [39]:
#No 'Category' column
X1, y1 = createXy(labelDF1)
train_X1, test_X1, train_y1, test_y1 = train_test_split(X1, y1, test_size=0.25)

In [40]:
test_X1.head()

,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen
3448,4.2,115773.0,14000000.0,14.0,1.0,0.0,1.0,0.0,0.0,0.0
6663,1.6,242.0,36000000.0,9.0,1.0,0.0,1.0,0.0,0.0,0.0
4011,4.7,707.0,26000000.0,7.0,1.0,0.0,1.0,0.0,0.0,0.0
2568,4.4,2508.0,6000000.0,11.0,1.0,0.0,1.0,0.0,0.0,0.0
332,4.4,1006.0,19000000.0,9.0,1.0,0.0,1.0,0.0,0.0,0.0

In [41]:
model1 = LogisticRegression().fit(train_X1, train_y1.values.ravel())
predict_y1 = model1.predict(test_X1)

In [42]:
print("%.2f" % model1.score(test_X1, test_y1))

0.86

In [43]:
print(classification_report(test_y1, predict_y1))

             precision    recall  f1-score   support

          0       0.86      0.91      0.89      1360
          1       0.87      0.80      0.83       982

avg / total       0.86      0.86      0.86      2342

In [44]:
print(confusion_matrix(test_y1, predict_y1))

[[1239  121]
 [ 198  784]]

In [45]:
#Scaling non 'category' data
labelDF2 = labelDF1.copy()
#Scaling 'Size' column
labelDF2.Size = labelDF2.Size.map(lambda x: x/10000000)
labelDF2.head()

,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen,Label
0,4.1,159.0,1.90,8.0,1.0,0.0,1.0,0.0,0.0,0.0,0
1,3.9,967.0,1.40,11.0,1.0,0.0,1.0,0.0,0.0,0.0,0
2,4.7,87510.0,0.87,13.0,1.0,0.0,1.0,0.0,0.0,0.0,1
3,4.5,215644.0,2.50,15.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,4.3,967.0,0.28,10.0,1.0,0.0,1.0,0.0,0.0,0.0,0

In [46]:
labelDF2.Size.describe()

count    9365.000000
mean        2.139359
std         2.156861
min         0.000850
25%         0.660000
50%         1.400000
75%         2.700000
max        10.000000
Name: Size, dtype: float64

In [47]:
labelDF2.Reviews = labelDF2.Reviews.map(lambda x: x/1000000)
labelDF2.head()

,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen,Label
0,4.1,0.000159,1.90,8.0,1.0,0.0,1.0,0.0,0.0,0.0,0
1,3.9,0.000967,1.40,11.0,1.0,0.0,1.0,0.0,0.0,0.0,0
2,4.7,0.087510,0.87,13.0,1.0,0.0,1.0,0.0,0.0,0.0,1
3,4.5,0.215644,2.50,15.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,4.3,0.000967,0.28,10.0,1.0,0.0,1.0,0.0,0.0,0.0,0

In [48]:
labelDF2.Reviews.describe()

count    9365.000000
mean        0.514105
std         3.144206
min         0.000001
25%         0.000186
50%         0.005933
75%         0.081543
max        78.158306
Name: Reviews, dtype: float64

In [49]:
X2, y2 = createXy(labelDF2)
train_X2, test_X2, train_y2, test_y2 = train_test_split(X2, y2, test_size=0.25)
model2 = LogisticRegression().fit(train_X2, train_y2.values.ravel())
predict_y2 = model2.predict(test_X2)

In [50]:
print(model2.score(test_X2, test_y2))

0.9581554227156277

In [51]:
print(classification_report(test_y2, predict_y2))

             precision    recall  f1-score   support

          0       0.98      0.95      0.96      1370
          1       0.93      0.97      0.95       972

avg / total       0.96      0.96      0.96      2342

In [52]:
print(confusion_matrix(test_y2, predict_y2))

[[1304   66]
 [  32  940]]

In [53]:
#model with 'Category' column one-hot encoded and without scaling
appDF10 = appDF8.copy()
appDF10 = pd.get_dummies(appDF10, columns=['Category'], prefix=['Category'])
appDF10.head()

,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen,...,Category_PERSONALIZATION,Category_PHOTOGRAPHY,Category_PRODUCTIVITY,Category_SHOPPING,Category_SOCIAL,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER
0,4.1,159,19000000,8,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3.9,967,14000000,11,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.7,87510,8700000,13,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.5,215644,25000000,15,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4.3,967,2800000,10,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
labelDF3 = labelise(appDF10)
labelDF3.Label = labelDF3.Label.astype(int)
labelDF3.head()

,Rating,Reviews,Size,Installs,Type_Free,Type_Paid,ContRat_Everyone,ContRat_Everyone 10+,ContRat_Mature 17+,ContRat_Teen,...,Category_PHOTOGRAPHY,Category_PRODUCTIVITY,Category_SHOPPING,Category_SOCIAL,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER,Label
0,4.1,159.0,19000000.0,8.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,3.9,967.0,14000000.0,11.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,4.7,87510.0,8700000.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,4.5,215644.0,25000000.0,15.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,4.3,967.0,2800000.0,10.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [55]:
X3, y3 = createXy(labelDF3)
train_X3, test_X3, train_y3, test_y3 = train_test_split(X3, y3, test_size=0.25)
model3 = LogisticRegression().fit(train_X3, train_y3.values.ravel())
predict_y3 = model3.predict(test_X3)

In [56]:
print("%.2f" % model3.score(test_X3, test_y3))

0.87

In [57]:
print(classification_report(test_y3, predict_y3))

             precision    recall  f1-score   support

          0       0.88      0.89      0.89      1377
          1       0.84      0.83      0.84       965

avg / total       0.87      0.87      0.87      2342

In [58]:
print(confusion_matrix(test_y3, predict_y3))

[[1226  151]
 [ 164  801]]

In [59]:
#model with 'Category' column one-hot encoded and with scaling
labelDF4 = labelDF3.copy()
labelDF4.Size = labelDF4.Size.map(lambda x: x/10000000)
labelDF4.Reviews = labelDF4.Reviews.map(lambda x: x/1000000)

In [60]:
X4, y4 = createXy(labelDF4)
train_X4, test_X4, train_y4, test_y4 = train_test_split(X4, y4, test_size=0.25)
model4 = LogisticRegression().fit(train_X4, train_y4.values.ravel())
predict_y4 = model4.predict(test_X4)

In [61]:
print("%.2f" % model4.score(test_X4, test_y4))

0.95

In [62]:
print(classification_report(test_y4, predict_y4))

             precision    recall  f1-score   support

          0       0.98      0.94      0.96      1363
          1       0.92      0.97      0.94       979

avg / total       0.95      0.95      0.95      2342

In [63]:
print(confusion_matrix(test_y4, predict_y4))

[[1279   84]
 [  30  949]]